In [1]:
#### Machine Learning from Disaster: Titanic Dataset

In [2]:
## Importing necessary dependencies
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
## Importing dataset
df = pd.read_csv('https://raw.githubusercontent.com/AchyuthN/NLPDataMining/master/train.csv')

In [4]:
## Exploratory Data Analysis
print('Total No of Passengers aboard:', str(len(df.index)))
df.info()
plt.subplot(2, 2, 1)
sns.countplot(x = 'Survived', data = df)
plt.subplot(2, 2, 2)
sns.countplot(x = 'Survived', hue = 'Sex', data = df)
plt.subplot(2, 2, 3)
sns.countplot(x = 'Survived', hue = 'Pclass', data = df)
plt.subplot(2, 2, 4)
df['Age'].plot.hist()
#plt.show()

Total No of Passengers aboard: 891
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [6]:
## Data Wrangling and Cleaning
np.sum(df.isnull())
plt.subplot(2, 1, 1)
sns.heatmap(df.isnull())
plt.subplot(2, 1, 2)
sns.boxplot(x = 'Pclass', y = 'Age', data = df)
#plt.show()

In [7]:
## Removing Missing Data
df.drop('Cabin', axis = 1, inplace = True)
df.dropna(inplace = True)
plt.subplot(2, 1, 1)
sns.heatmap(df.isnull())
plt.subplot(2, 1, 2)
sns.boxplot(x = 'Pclass', y = 'Age', data = df)
#plt.show()

In [8]:
## Getting Dummy Values and Replacing original values
sex = pd.get_dummies(df['Sex'], drop_first = True)
sex.head()
embark = pd.get_dummies(df['Embarked'], drop_first = True)
Pcl = pd.get_dummies(df['Pclass'], drop_first = True)
df = pd.concat([df, sex, embark, Pcl], axis = 1)
#df.head()
#df.columns
df.drop(['PassengerId', 'Pclass', 'Name', 'Sex', 'Ticket', 'Embarked',], axis = 1, inplace = True)
df.head()

   Survived   Age  SibSp  Parch     Fare  male  Q  S  2  3
0         0  22.0      1      0   7.2500     1  0  1  0  1
1         1  38.0      1      0  71.2833     0  0  0  0  0
2         1  26.0      0      0   7.9250     0  0  1  0  1
3         1  35.0      1      0  53.1000     0  0  1  0  0
4         0  35.0      0      0   8.0500     1  0  1  0  1

In [9]:
## Importing Logistic Regression Dependencies
from sklearn.linear_model import LogisticRegression

In [10]:
## Importing Train Test Split dependencies
from sklearn.model_selection import train_test_split

In [11]:
## Splitting data
X = df.drop('Survived', axis = 1)
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [12]:
## Model fitting and Prediction
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
predict = logreg.predict(X_test)

In [13]:
## Evaluation of model performance on test set
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
confusion_matrix(y_test, predict)
accuracy_score(y_test, predict) * 100

78.651685393258433